<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/app.css">
</head>
<body ng-app="app">
    <div ng-controller="PostsCtrl" class="container">
        <h1>Recent Posts</h1>
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="postBody" class="form-control" />
                    <span class="input-group-btn">
                        <button ng-click="addPost()" class="btn btn-default">Add Post</button>
                    </span>
                </div>
            </div>
        </form>
        <ul class="list-group">
            <li ng-repeat="post in posts | orderBy: '-date'" class="list-group-item">
                <strong>@{{post.username}}</strong>
                <span>{{post.body}}</span>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src='/app.js'></script>
</body>

</html>
